html,
body {
  min-height: 100vh;
  background-color: #141519;
  color: white;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "Roboto Slab", serif;
}

.GRADIANTED {
  background: linear-gradient(to right, #c54913, #efb650);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

#header {
  background-color: #1a1b1f;
  display: grid;
  grid-template-areas: "logo mainMenu colorModeSwitch";
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0rem 2rem 0rem 2rem;
  font-size: 1.2rem;
  box-shadow: 0px 2px 20px black;

  & .logo {
    font-size: 1.8rem;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  & #headerMenu {
    grid-area: "mainMenu";
    display: flex;
    justify-content: center;
    gap: 1.4rem;
    color: #5d5f60;
    align-self: center;
    min-height: 100%;
    background: linear-gradient(to right, #c54913, #efb650);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    & > div {
      display: flex;
      align-items: center;
      min-height: 100%;

      &.mainMenuActive {
        border-bottom: 1px solid transparent;
      }
    }
  }

  & .colorModeSwitch {
    grid-area: "colorModeSwitch";
    display: flex;
    justify-content: end;
    align-self: center;
  }
}

#mainContainer {
  display: grid;
  grid-template-areas:
    "sidemenu aboutme"
    "sidemenu projects"; /* Adjusted grid template areas */
  height: 100%;
}

.sideMenuContainer {
  min-height: 100%;
  background-color: #101012;
  padding: 2rem;
  margin: 2rem;
  box-shadow: 0px 2px 20px black;
  grid-area: sidemenu;
}
.aboutMeContainer {
  background-color: #101012;
  padding: 1.5rem;
  margin: 2rem;
  border-radius: 10px;
  grid-area: aboutme;
  box-shadow: 0px 2px 20px black;
}
.aboutMeBlock {
  display: grid;
  grid-template-columns: 2fr 1fr;
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.8);
  align-items: center;

  & .aboutMeImg {
    display: grid;
    justify-content: center;
  }
  & img {
    max-height: 320px;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
    object-position: 0 -100px;
    box-shadow: 0px 2px 20px #c54913;
  }
}

.fontPageProjectsContainer {
  grid-area: projects;

  padding: 1rem;
  margin: 2rem;

  text-align: center;
  display: grid;
  grid-template-areas:
    "title"
    "projects";

  & h2 {
    margin-bottom: 3rem;
    margin-top: 0;
  }
  & .projectGridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-area: projects;
  }
}

.projectGridContainer .project {
  box-shadow: 0px 2px 20px black;
  background-color: #101012;
  border-radius: 20px;
  padding: 20px;
  margin: 1rem;
  position: relative;

  & .imageBox {
    & .shadow {
      position: absolute;
      left: -10px;
      top: -10px;
      max-height: 260px;
      aspect-ratio: 1;
      border-radius: 20px;
      object-fit: cover;
      object-position: center;
      filter: blur(16px);
      opacity: 70%;
    }
    & .image {
      position: relative;
      top: -10px;
      left: -10px;
      max-height: 240px;
      aspect-ratio: 1;
      border-radius: 20px;
      object-fit: cover;
      object-position: center;
    }
  }
}
